.dashboardpage {
  background-image: url(../assests/man.png);
  background-size: cover;
  margin-left: 220px;
  margin-right: 120px;
  height: 520px;
  width: 600px;
  display: block;
  position: fixed;

}
button:focus {
  outline: 0;
}

.batch1 {
  height: 150px;
  width: 850px;
  display: inline-block;
}
.btn_workout {
  position: absolute;
  width: 115px;
  height: 115px;
  margin-left: -270px;
  margin-top: 5px;
  border-radius: 50%;
  border-color: black;
  background-color: rgb(69, 141, 137);
  font-size: medium;
  text-align: center;
  font-weight: bold;
  border: none;
}
.btn_profile {
  width: 120px;
  height: 120px;
  margin-left: 100px;
  margin-top: 0px;
  border-radius: 50%;
  border-color: black;
  background-color: rgb(69, 141, 137);
  font-size: medium;
  text-align: center;
  font-weight: bold;
  border: none;
}

.batch2 {
  height: 150px;
  width: 850px;
}
.btn_review {
  position: absolute;
  width: 100px;
  height: 115px;
  margin-left: -280px;
  margin-top: 20px;
  border-radius: 20%;
  border-color: black;
  background-color: rgb(69, 141, 137);
  font-size: medium;
  text-align: center;
  font-weight: bold;
  border: none;
}
// .btn_reward {
//   position: absolute;
//   width: 115px;
//   height: 115px;
//   margin-left: -100px;
//   margin-top: 30px;
//   border-radius: 50%;
//   border-color: black;
//   background-color: rgb(69, 141, 137);
//   font-size: medium;
//   text-align: center;
//   font-weight: bold;
//   border: none;
// }

.batch3 {
  height: 150px;
  width: 850px;
}
.btn_month {
  position: absolute;
  width: 115px;
  height: 115px;
  margin-left: -280px;
  margin-top: 2px;
  border-radius: 50%;
  border-color: black;
  background-color: rgb(69, 141, 137);
  font-size: medium;
  text-align: center;
  font-weight: bold;
  border: none;
}
// .btn_tip {
//   width: 100px;
//   height: 115px;
//   margin-left: 10px;
//   border-radius: 20%;
//   border-color: black;
//   background-color: rgb(69, 141, 137);
//   font-size: medium;
//   text-align: center;
//   font-weight: bold;
//   border: none;
// }
