.dashboardpage{
  background-image: url(../assests/man.png);
  background-size: cover;
  margin-left: 220px;
  margin-right: 120px;
  height: 620px;
  width: 700px;
  display: block;
}
// .para{
//   text-align: center;
// }
// button{
//   background-color:rgb(69, 141, 137);
//   font-size: medium;
//   text-align: center;
//   font-weight: bold;
//   border: none;
//   outline: none;
//   }

button:focus {outline:0;}

.batch1{
  height: 150px;
    width: 850px;
    display: inline-block;
}
.btn_workout{
  width: 115px;
  height: 115px;
  margin-Left: 65px;
  // margin-top: 20px;
  border-Radius:50%;
  border-Color: black;
  background-color:rgb(69, 141, 137);
  font-size: medium;
  text-align: center;
  font-weight: bold;
  border: none;
}
.btn_profile{
  width: 120px;
  height: 120px;
  margin-Left: 308px;
  margin-top: 15px;
  border-Radius:50%;
  border-Color: black;
  background-color:rgb(69, 141, 137);
  font-size: medium;
  text-align: center;
  font-weight: bold;
  border: none;
}

.batch2{
  height: 150px;
    width: 850px;
}
.btn_review{
  width: 100px;
  height: 115px;
  margin-Left: 15px;
  margin-top: 60px;
  border-Radius:20%;
  border-Color: black;
  background-color:rgb(69, 141, 137);
  font-size: medium;
  text-align: center;
  font-weight: bold;
  border: none;
}
.btn_reward{
  width: 115px;
  height: 115px;
  margin-Left: 435px;
  margin-top: 30px;
  border-Radius:50%;
  border-Color: black;
  background-color:rgb(69, 141, 137);
  font-size: medium;
  text-align: center;
  font-weight: bold;
  border: none;
}

.batch3{
  height: 150px;
    width: 850px;
}
.btn_month{
  width: 115px;
  height: 115px;
  margin-Left: 85px;
  margin-top: 60px;
  border-Radius:50%;
  border-Color: black;
  background-color:rgb(69, 141, 137);
  font-size: medium;
  text-align: center;
  font-weight: bold;
  border: none;
}
.btn_tip{
  width: 100px;
  height: 115px;
  margin-Left: 280px;
  // margin-top: 45px;
  border-Radius:20%;
  border-Color: black;
  background-color:rgb(69, 141, 137);
  font-size: medium;
  text-align: center;
  font-weight: bold;
  border: none;
}


