.row{
  padding-top: 50px;
  height: 620px;
    width: 850px;
    margin-left: 130px;
    margin-right: 100px;
    justify-content: center;
}
.col-6{
  font-size: 20px;
  width: 400px;
  text-align: -webkit-center;
  outline: outset;  
}
  h1{
    text-align: center;
  }
  p{
    height: 50px;
  }
.form-control{
width: 200px;
// margin-left: 100px;
}
.btn_login{
  width: 100px;
  text-align: center;
  color: black;
}

img{
  height: 350px;
  width: 400px;
  border-radius: 50%;
}
